<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" />
<title>Insert title here</title>

</head>
<body>
		<div class="row" style="padding-top:20px;">
			<!--main sidebar-->
			<div class="col-md-2" id="" style="">
				<!-- Side navigation -->
				<div class="sidenav">
				  <a href="#about"><i class="fa fa-star"></i> 다운로드 TOP10</a>
				  <button class="dropdown-btn">
				    <i class="fa fa-list-ul"></i> 카테고리
				    <i class="fa fa-caret-down"></i>
				  </button>
				  <div class="dropdown-container">
				    <a href="#">&nbsp;&nbsp; 전체</a>
				    <a href="#">&nbsp;&nbsp; 메신저</a>
				    <a href="#">&nbsp;&nbsp; 동영상</a>
				    <a href="#">&nbsp;&nbsp; 문서/사무</a>
				  </div>
				  <a href="#contact"><i class="fa fa-pie-chart"></i> 통계</a>
				</div>
			</div>
			
			<div class="col-md-10">
				<div>
					최신 소프트웨어
				</div>
				<div id="recipeCarousel" class="carousel slide w-100"
					data-ride="carousel">
					<div class="carousel-inner w-100" role="listbox">
						<div class="carousel-item row no-gutters active">
							<div class="col-3 float-left">
								<img class="img-fluid"
									src="image/sample.PNG" style="width:200px; height:180px;">
							</div>
							<div class="col-3 float-left">
								<img class="img-fluid"
									src="image/sample.PNG" style="width:200px; height:180px;">
							</div>
							<div class="col-3 float-left">
								<img class="img-fluid"
									src="image/sample.PNG" style="width:200px; height:180px;">
							</div>
							<div class="col-3 float-left">
								<img class="img-fluid"
									src="image/sample.PNG" style="width:200px; height:180px;">
							</div>
							<!-- <div class="col-3 float-left">
								<img class="img-fluid"
									src="http://placehold.it/350x280/111/fff?text=4">
							</div> -->
						</div>
						<div class="carousel-item row no-gutters">
							<div class="col-3 float-left">
								<img class="img-fluid"
									src="image/sample.PNG" style="width:200px; height:180px;">
							</div>
							<div class="col-3 float-left">
								<img class="img-fluid"
									src="image/sample.PNG" style="width:200px; height:180px;">
							</div>
							<div class="col-3 float-left">
								<img class="img-fluid"
									src="image/sample.PNG" style="width:200px; height:180px;">
							</div>
							<div class="col-3 float-left">
								<img class="img-fluid"
									src="image/sample.PNG" style="width:200px; height:180px;">
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#recipeCarousel"
						role="button" data-slide="prev"> <span
						class="carousel-control-prev-icon" aria-hidden="true"></span> <span
						class="sr-only">Previous</span>
					</a> <a class="carousel-control-next" href="#recipeCarousel"
						role="button" data-slide="next"> <span
						class="carousel-control-next-icon" aria-hidden="true"></span> <span
						class="sr-only">Next</span>
					</a>
				</div>
				
				<div class="row">
					<div class="col-md-3">
				      One of three columns
				    </div>
				    <div class="col-md-3">
				      Two of three columns
				    </div>
				    <div class="col-md-3">
				      Three of three columns
				    </div>
				    <div class="col-md-3">
				      Four of three columns
				    </div>
				</div>
			</div>
		</div>
	<script>
	/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
	var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;
	
	for (i = 0; i < dropdown.length; i++) {
	  dropdown[i].addEventListener("click", function() {
	  this.classList.toggle("active");
	  var dropdownContent = this.nextElementSibling;
	  if (dropdownContent.style.display === "none") {
	  dropdownContent.style.display = "block";
	  } else {
	  dropdownContent.style.display = "none";
	  }
	  });
	}
	</script>
</body>
</html>